html { hyphens: auto }
body {
    font-family: "fbb", "Palatino";
    font-size: 12pt;
    line-height: 16pt;
    text-align: justify;
    /* columns: 2 */
}

/* title page */

address {
    position: absolute;
    top: 1em;
    left: 1em;
    font-family: "Gill Sans", "Gillus ADF", "Helvetica";
    font-size: 16pt;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

h1 {
    margin-top: 40%;
    font-family: "Gill Sans", "Gillus ADF", "Helvetica";
    font-size: 32pt;
    line-height: 40pt;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.timestamp {
    font-family: "Gill Sans", "Gillus ADF", "Helvetica";
    font-size: 12pt;
    letter-spacing: 0.3em;
    margin-top: 3em;
}

.title { text-align: center; }
.title img { float: none; width: 80%; }

/* spellcasters */

h2 {
    font-size: 24pt;
    line-height: 30pt;
    font-weight: normal;
    font-style: italic;
}
h3 {
    font-size: 14pt;
    line-height: 16pt;
    font-weight: normal;
    font-style: italic;
}
sup {
    font-size: 70%;
}
/* portraits */
img { float: right; margin: 1ex; width: 100px }
/* footnotes */
.footnotes { font-size: 90% }
p .footnotes { display: block; margin-top: 1em }
@media print {
    /* https://www.w3.org/Style/Examples/007/indent.en.html */
    p { margin-bottom: 0 }
    p + p { text-indent: 1.5em; margin-top: 0 }
}
@media screen {
    body { max-width: 80ex }
}
/* page numbers: set it to zero on the first page and don't show it,
   thus the second page has the page number 1. */
@page :first {
    counter-reset: page;
    @bottom-center {
	content: "";
    }
}
@page {
    @bottom-center {
	content: counter(page);
    }
}
/* bookmarks, table of contents */
h1, h3 { bookmark-level: none }
/* page breaks */
h2 { break-before : always }
