html { hyphens: auto }
body { text-align: justify; /* columns: 2 */ }
/* portraits */
img { float: right; margin: 1ex; }
/* https://www.w3.org/Style/Examples/007/indent.en.html */
p { margin-bottom: 0 }
p + p { text-indent: 1.5em; margin-top: 0 }
/* footnotes */
.footnotes { font-size: 90% }
/* page numbers */
@page {
  @bottom-center {
    content: counter(page);
  }
}
